<a href="/auth/facebook"><img src="login-with-facebook.png" width="154" height="22"></a>
<script>
// similar behavior as an HTTP redirect
//top.location.href = "https://www.visesha.com/auth/facebook";
</script>
