<% layout('layout') -%>
<blockquote>
  <p>STEP 3: Post result on your facebook wall </p>
</blockquote>
<div class="row-fluid">
    <div class="span8">
        <img class="img-polaroid" src="resimg/text<%= user %>.png">
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
       <form method="post" action="/postonfb">
        <textarea name="message">Guess the movie by screenshot => http://bit.ly/guessmovie   </textarea>
            <button class="btn btn-danger">Post on to my wall</button>
       </form>
    </div>
</div>
<div class="row-fluid">
    <div class="span6">
        <!-- Modal -->
        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Modal header</h3>
          </div>
          <div class="modal-body">
            <p>
                <img class="img-polaroid" src="resimg/text<%= user %>.png">
            </p>
            <textarea name="message">Guess the movie by screenshot => http://bit.ly/guessmovie   </textarea>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary">Post to facebook</button>
          </div>
        </div> 
    </div>
</div>
